{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ legend }}</h2>
    <form method="POST" action=""> {# Action URL will be set by the route #}
        {{ form.hidden_tag() }} {# CSRF token #}
        
        <p>
            {{ form.content.label }}<br>
            {{ form.content(rows=10, cols=70, class="form-control") }}<br>
            {% if form.content.errors %}
                <ul class="errors">
                    {% for error in form.content.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=40, class="form-control") }}<br>
            {% if form.category.errors %}
                <ul class="errors">
                    {% for error in form.category.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>

    <a href="{{ url_for('note.list_notes') }}">Back to Quick Notes List</a>
{% endblock %}
