{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ legend }}</h2>
    <form method="POST" action=""> {# Action URL will be set by the route #}
        {{ form.hidden_tag() }} {# CSRF token #}
        
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40, class="form-control") }}<br>
            {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(rows=3, cols=40, class="form-control") }}<br>
            {% if form.address.errors %}
                <ul class="errors">
                    {% for error in form.address.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=5, cols=40, class="form-control") }}<br>
            {% if form.description.errors %}
                <ul class="errors">
                    {% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.latitude.label }} (e.g., 34.0522)<br>
            {{ form.latitude(class="form-control") }}<br>
            {% if form.latitude.errors %}
                <ul class="errors">
                    {% for error in form.latitude.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.longitude.label }} (e.g., -118.2437)<br>
            {{ form.longitude(class="form-control") }}<br>
            {% if form.longitude.errors %}
                <ul class="errors">
                    {% for error in form.longitude.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>

    <a href="{{ url_for('location.list_locations') }}">Back to Locations List</a>
{% endblock %}
